[Desktop Entry]
Type=Application
Exec=/usr/share/endeavouros/scripts/welcome
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=3
